# Godot-specific ignores
.godot/
/android/
*.import/
export_presets.cfg
# JetBrains/Rider
.idea/
*.sln
*.csproj
*.user
*.userprefs
mono_project/
# Visual Studio Code
.vscode/
# OS-specific ignores
.DS_Store
Thumbs.db
